package layout

templ Base() {
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Don Photography</title>
</head>

<body>
    <h1>Don Photography</h1>
    { children... }
</body>

</html>
}
