package components


templ FormCollectionCheckboxes(name string, id string){
    <div>
        <input type="checkbox" id={ name + id } name={ name + id }/>
        <label for={ name + id }>{ name }</label>
    </div>
}
