package components

import "github.com/theloosygoose/goserver/internal/view/layout"

templ PhotoContainer() {
    @layout.Base() {
        <div class="flex-col">
            <div id="main-photo" class="mx-[10%] mt-24 mb-16 min-h-[50dvh]">
            </div>
            <div id="photo-container" class="flex h-fit gap-x-5 justify-center align-middle">
                { children... }
            </div>
        </div>
    }
}
