package components

templ PhotoContainer() {
    <div class="flex flex-col">
        <div id="main-photo" class="h-fit my-16 min-h-[50svh] md:min-h-[65svh] ">
        </div>
        @Gallery(){
            { children... }
        }
    </div>
}

templ Gallery(){
    <div id="photo-container" class="outline outline-gray-800 outline-offset-4 rounded-sm p-6
    flex flex-wrap h-fit gap-2 md:gap-3 justify-center mx-2">
        { children... }
    </div>
}
