package components

templ PhotoContainer() {
    <div class="flex-col">
        <div id="main-photo" class="relative mx-[10%] min-h-52 mt-24 mb-16 h-1/2">
        </div>
        @Gallery(){
            { children... }
        }
    </div>
}

templ Gallery(){
    <div id="photo-container" class="flex h-fit gap-x-5 justify-center">
        { children... }
    </div>
}
